body {
    margin: 0;
    background-color: black;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h2 {
    color: darkred;
}

.box {
    
    border: 2px dotted darkred;
}

ol {
    line-height: 25px;
}

span {
    color: darkred;
    font-size: 1.5rem;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
nav {
    margin: 2px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;;
}

.a1 {
    text-decoration: none;
}

.a2 {
    color:rgb(196, 76, 152);
    text-underline-offset: 5px;
}

.box2, footer{
    margin-left:0;
    text-align: left;
    color: white;
}

p {
    color: white;
    font-style: italic;
}

/* .box2 */
